extends layout

block content
  .card
    h1.form-title Welcome Administrator
    if error
      p.error= error
    form(method='post', action='/login').login
      input(type='text', name='username', placeholder='Username', maxlength='25', required)
      input(type='password', name='password', placeholder='Password', required)
      input(type='submit', value='Log In')