extends admin-layout

block content
  .card.manage
    h1.form-title Delete Users
    form(method='post', action='/admin/delete')
      label Select users:
      select.select-teams(name='username')
        each team in teams
          option= team.username
      input(type='submit', value='Delete')