footer
    .container
        h3.center Links
        p.center
            a(href='http://clubcypher.club')
                img.footer-logo.gol(src="https://www.decypher.codes.com/img/cypher.png", alt="cypher")
            a(href="https://www.facebook.com/cypherdps/")
                img.footer-logo.gol(src="https://www.decypher.codes.com/img/facebook.png", alt="Facebook")
            a(href="https://www.youtube.com/channel/UCSULXN5apeQSDa0sLYuwEnA")
                img.footer-logo.gol(src="https://www.decypher.codes.com/img/youtube.png", alt="Youtube")
            a(href="https://www.instagram.com/cypherdps/")
                img.footer-logo.gol(src='https://www.decypher.codes.com/img/insta.png', alt="Instagram")