doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title De(c)ypher &middot; #{title}
  link(rel='stylesheet', href='https://transcendent-cocada-cde0ba.netlify.app/css/style.css')
  link(rel='icon', type='image/png' href='https://transcendent-cocada-cde0ba.netlify.app/img/icon.png')
  meta(name='theme-color', content='#f5f5f5')
  script(type="text/javascript", src='https://transcendent-cocada-cde0ba.netlify.app/js/obfuscated/built.min.js')
  if isLogs
    meta(http-equiv="refresh" content="20;url=/admin/logs")
body
  
  include header
  
  section#main
    .container
      block content
        
  include footer-play
  
  

      
  
