doctype html
html(lang='en')
  head
    
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='This page is created for the online cryptic hunt - de(c)ypher.')
    title de(c)ypher &middot; #{title}
    link(rel="shortcut icon" href="https://transcendent-cocada-cde0ba.netlify.app/img/icon.ico?v=1" type="image/x-icon")
    meta(name='theme-color', content='#f5f5f5')
    if isLogs
      meta(http-equiv="refresh" content="20;url=/admin/logs")
  body
    include header
    
    section#main
      .container
        block content
          
    include footer
    //- script(src='https://transcendent-cocada-cde0ba.netlify.app/js/built.js')
    script.
      function navfunction() {
        document.getElementsByClassName('js-toggle-menu')[0].classList.toggle('open');
        document.getElementById("main").classList.toggle('temp-body')
        document.querySelector("footer").classList.toggle('temp-body')
        document.querySelector("body").classList.toggle('fixed-pos')
        document.getElementsByClassName("hidden")[0].classList.toggle("notHidden")
      };



