doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title De(c)ypher &middot; #{title}
  link(rel='stylesheet', href='/css/style-home.css')
  link(rel='icon', type='image/png' href='/img/icon.png')
  meta(name='theme-color', content='#f5f5f5')
  script(type="text/javascript", src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/896175/three.min.js')
  script(type="text/javascript", src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/896175/OrbitControls.js')
  script.
    var Scrollbar = window.Scrollbar;
    Scrollbar.init(document.querySelector('#my-scrollbar'));
  if isLogs
    meta(http-equiv="refresh" content="20;url=/admin/logs")
body
  
  include header
  
  section#main
    .container
      block content
      
  include footer
  script(src='https://unpkg.com/simplebar@latest/dist/simplebar.min.js')
  script(type="text/javascript", src='https://transcendent-cocada-cde0ba.netlify.app/js/obfuscated/built.min.js')

  
